/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('/personal-site/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/personal-site/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Literata */
@font-face {
  font-family: 'Literata';
  src: url('/personal-site/fonts/literata/Literata-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url('/personal-site/fonts/literata/Literata-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Monaspace */
@font-face {
  font-family: 'Monaspace';
  src: url('/personal-site/fonts/monaspace/MonaspaceNeonVarVF[wght,wdth,slnt].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Jetbrains Mono */
@font-face {
  font-family: 'Jetbrains Mono';
  src: url('/personal-site/fonts/jetbrains-mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('/personal-site/fonts/jetbrains-mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('/personal-site/fonts/inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}