/* Open Sans */ 
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Literata */ 
@font-face {
  font-family: 'Literata';
  src: url('/fonts/literata/Literata-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/literata/Literata-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Monaspace */
@font-face {
  font-family: 'Monaspace';
  src: url('/fonts/monaspace/MonaspaceNeonVarVF[wght,wdth,slnt].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Jetbrains Mono*/
@font-face {
  font-family: 'Jetbrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('/fonts/jetbrains-mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

