{{ define "main" }}
  {{ partial "inline/banner.html"}}
  <section class="content">
    {{ .Content }}
  </section>
  {{- partial "socials.html"}}
{{ end }}

{{- define "partials/inline/banner.html"}}
<pre style="font-family: 'Monaspace'; text-align: center; margin-bottom: 4rem;">
  _____                                _     
 |__  /   ___   _ __    _ __     ___  | |__  
   / /   / _ \ | '_ \  | '_ \   / _ \ | '_ \ 
  / /_  |  __/ | | | | | | | | |  __/ | | | |
 /____|  \___| |_| |_| |_| |_|  \___| |_| |_|
</pre>
{{- end }}
