body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: var(--main-width);
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
  background-color: var(--background);
  color: var(--text);
}

header {
  font-family: "Literata";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--header-top-gap);
  margin-bottom: var(--header-bottom-gap);
  height: var(--header-height);
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: var(--menu-gap);
}

nav ul li a {
  font-family: "Monaspace";
  font-size: var(--font-body);
  color: var(--text);
}

nav ul li a.active {
  font-family: "Monaspace";
  font-weight: bold;
  color: var(--primary);
}

main {
  min-height: var(--content-height);
}

footer {
  font-size: var(--font-label);
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
}

footer a,b {
  margin-left: .2rem;
  margin-right: .2rem;
  color: var(--primary);
}

a {
  color: var(--text);
}

hr {
  background-color: hsl(0, 20%, 8%);
  height: 1px;
  margin: .6rem 0;
}

main p > strong {
  color: var(--secondary);
}
main p a {
  position: relative;
  color: var(--secondary);
}

main pre {
  padding: .6em 1em;
  border-radius: var(--border);
  font-family: "Jetbrains mono";
}

.content a {
  position: relative;
}

.content a::before {
  content: "";
  position: absolute;
  bottom: -.2rem;
  border-radius: var(--border);
  width: 0%;
  height: 2px;
  background-color: var(--secondary);
  transition: width .2s ease-in-out;
}

.content a:hover::before {
  content: "";
  position: absolute;
  bottom: -.2rem;
  border-radius: var(--border);
  width: 100%;
  height: 2px;
  transition: width .2s ease-in-out;
}

/* Custom classes */
.site-title {
  color: var(--text);
  font-size: var(--font-title);
}

.posts > h4 {
  margin-bottom: .6rem;
  /* padding: 0 .6rem; */
}

.posts > ul {
  display: flex;
  flex-direction: column;
  gap: var(--posts-gap);
}

.post-link {
  display: flex;
  gap: 3rem;
  font-family: "Literata";
  font-size: var(--font-body);
  border-radius: var(--border);
  margin: .2rem 0;
  /* padding: .2rem .6rem; */
}

.post-link-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: .8rem;
  font-family: "Monaspaced"
}

.tag {
  padding: .2rem .4rem;
  border-radius: var(--border);
  font-size: var(--font-label);
  background-color: var(--secondary);
  color: var(--text);
}

#post-link-title {
  font-weight: bold;
}

#post-link-date{
}


.socials {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

/* link */
.socials a {
  display: flex;  
  gap: .6rem;
  align-items: center;
  padding: .2rem .6rem;
  fill: var(--primary);
  opacity: .8;
  transition: opacity .2s ease-in-out;
}

.socials a:hover {
  display: flex;  
  gap: .6rem;
  align-items: center;
  padding: .2rem .6rem;
  opacity: 1;
}


/* Icon */
.svg-container {
  width: 20px;
  heigth: 20px;
  overflow: hidden;
}
.svg-container svg {
  height: 100%;  
  width: 100%;
}

/* Name */
.socials a p {
  font-size: var(--font-body);
  font-family: "Monaspaced";
  color: var(--primary);
}


