*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

hr {
  border: none;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


ol,ul {
  list-style: none;
}

section { 
  margin-bottom: 3rem;
}

.content {
  font-family: "Open Sans";
}

.content h1 {
  margin-bottom: calc(var(--font-h1) / 3);
}
.content h2 {
  margin-bottom: calc(var(--font-h2) / 3);
}
.content h3 {
  margin-bottom: calc(var(--font-h3) / 3);
}
.content h4 {
  margin-bottom: calc(var(--font-h4) / 3);
}
.content h5 {
  margin-bottom: calc(var(--font-h5) / 3);
}
.content pre {
  margin-bottom: calc(var(--font-body) / 2);
}

.content p,
.content a,
.content b,
.content i {
  margin-bottom: calc(var(--font-body));
}

