
{{- define "main" }}
  <section class="posts">
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    <h4>Recent posts</h4>
    <ul>
      {{ range $posts}}
        <li>
          {{ partial "inline/posts/link.html" . }}
        </li>
      {{ end }}
    </ul>
  </section>
{{- end}}

{{- define "partials/inline/posts/link.html"}}
  <div class="post-link">
    <p id="post-link-date"><time>{{ time.Format "January 2, 2006" .Date }}</time></p>
    <p>~</p>
    <div class="post-link-content">
      <a href="{{ .RelPermalink }}"><p id="post-link-title">{{ .Title }}</p></a>
      {{ with .GetTerms "tags" }}
        <ul class='tags'>
          {{ range . }}
            <li><a class="tag" href="{{ .RelPermalink }}"> & {{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
  <hr>
{{- end}}
